<div class="container" id="production-container">
	<div class="row">
		<div class="col-xs-12">
			<h2><%= t('production.header') %></h2>
		</div>
		<div class="col-xs-12">
			<p><%= t('production.headerDescription') %></p>
		</div>
		<div class="hidden-xs hidden-sm col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<%= image_tag "prod_one" %>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
			<h2><%= t('production.stepOneHeader') %></h2>
			<p><%= t('production.stepOneDescription') %></p>
		</div>
		<div class="hidden-xs hidden-sm col-md-6 col-lg-4">
			<%= image_tag "prod_two" %>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="hidden-xs hidden-sm col-md-4 col-lg-3">
			<%= image_tag "prod_three" %>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
			<h2><%= t('production.stepTwoHeader')%></h2>
			<p><%= t('production.stepTwoDescription') %></p>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
			<h2><%= t('production.stepThreeHeader') %></h2>
			<p><%= t('production.stepThreeDescription') %></p>
		</div>
		<div class="col-xs-12 col-sm-12 hidden-md hidden-lg"><p class="line"></p></div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="production-right-border">
			<h2><%= t('production.stepFourHeader') %></h2>
			<p><%= t('production.stepFourDescription') %></p>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
			<h2><%= t('production.stepFiveHeader') %></h2>
			<p><%= t('production.stepFiveDescription') %></p>
		</div>
		<div class="hidden-xs hidden-sm col-md-6 col-lg-4">
			<%= image_tag "prod_four" %>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="col-xs-12">
			<h2><%= t('production.stepSixHeader') %></h2>
			<p><%= t('production.stepSixDescription.sectionOne') %></p> 
			<p><%= t('production.stepSixDescription.sectionTwo') %></p>
		</div>
	</div>
	<p class="line"></p>
	<div class="row">
		<div class="col-xs-12">
			<h2><%= t('production.stepSevenHeader') %></h2>
			<p>	
				<ul>
				  <li><%= t('production.stepSevenDescription.sectionOne.main') %> <span class="hidden-xs"> <%= t('production.stepSevenDescription.sectionOne.hidden') %></span></li>
				  <li><%= t('production.stepSevenDescription.sectionTwo.main') %><span class="hidden-xs">, <%= t('production.stepSevenDescription.sectionTwo.hidden') %></span></li>
				  <li><%= t('production.stepSevenDescription.sectionThree.main') %><span class="hidden-xs"><%= t('production.stepSevenDescription.sectionThree.hidden') %></span></li>
				  <li><%= t('production.stepSevenDescription.sectionFour') %></li>
				  <li><%= t('production.stepSevenDescription.sectionFive.main') %><span class="hidden-xs"><%= t('production.stepSevenDescription.sectionFive.hidden') %></span></li>
				</ul>
			</p>
		</div>
	</div>

</div>

