<!DOCTYPE html>
<html>
<head>
  <title>Jeweller STUDIO Al'Shapovalov</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=Map,Placemark" type="text/javascript"></script>
   	<meta property="og:image" content="/assets/header_vk.jpg"/>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= audio_tag "audio.mp3",autoplay: true, loop: true, id: 'background-audio'%>
	<div class="container-fluid" id="wrapper">
		<div class="container" id="header">
			<div class="row" id="translatePanelRow">
				<div class="col-xs-6">
					<div id="siteMusic" class='row activeMusic'>
						<i class="fa fa-music"></i>
					</div>
				</div>
				<div class="col-xs-6">
					<div id="translatePanel" class='row'>
						<div class="col-xs-3 borderRight <%= @ruClass %>">
							<a href="/">рус</a>
						</div>
						<div class="col-xs-3 borderRight <%= @enClass %>">
							<a href="/?locale=en">eng</a>
						</div>
						<div class="col-xs-3 borderRight <%= @deClass %>">
							<a href="/?locale=de">de</a>
						</div>
						<div class="col-xs-3 <%= @esClass %>">
							<a href="/?locale=es">es</a>
						</div>
					</div>
				</div>
			</div>
			<p><%= link_to image_tag("header.jpg"), '/' %></p>
			<nav class="row">
				<div class="col-xs-4" id="production-btn">
					<i class="fa fa-diamond fa-1x visible-xs"></i>
					<p class="hidden-xs"><%= t('navigation.navProduction') %></p>	
				</div>
				<div class="col-xs-4" id="social-btn">
					<i class="fa fa-vk fa-1x visible-xs"></i>
					<p class="hidden-xs"><%= t('navigation.navSocial') %></p>
				</div>
				<div class="col-xs-4" id="about-btn">
					<i class="fa fa-map fa-1x visible-xs"></i>
					<p class="hidden-xs"><%= t('navigation.navAbout') %></p>
				</div>
			</nav>
		</div>
		<div id="wrapper-content">
			<%= yield %>
		</div>
		<div class="container" id="footer">
			<p><%= image_tag "line.jpg" %></p>
			<p><%= image_tag "footer.jpg" %></p>
		</div>
	</div>
</body>
</html>
